NODE_ENV=production
PORT=4000
FRONTEND_URL=https://your-domain.com
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ai-interview-coach
JWT_ACCESS_SECRET=8a124b8d62aa0c83d7a27d58d951d034b85c8e9fecedc3816eed6c0092ed9a21
JWT_REFRESH_SECRET=7487927eb19bdfae04338c3fa03b56d2e29fecb8fa649348128bf797a452e7e1
OPENAI_API_KEY=your-openai-api-key
SMTP_FROM=noreply@example.com
COOKIE_DOMAIN=.your-domain.com
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_WS_URL=wss://your-domain.com
