NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/ai-interview-coach
JWT_ACCESS_SECRET=8a124b8d62aa0c83d7a27d58d951d034b85c8e9fecedc3816eed6c0092ed9a21
JWT_REFRESH_SECRET=7487927eb19bdfae04338c3fa03b56d2e29fecb8fa649348128bf797a452e7e1
OPENAI_API_KEY=
SMTP_FROM=noreply@example.com
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
